@using Domain.Equipments;
@using Web.Models;

@model UpdateEquipments

@{
    ViewData["Title"] = "Update Equipment";
}

<h1 class="display-4">Update Equipment</h1>
<hr />
<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <hidden typeof="hidden" asp-for="@Model.Id"></hidden>
            <div class="col-md-6">
                <div class="form-group my-3">
                    <label asp-for="@Model.Name" class="form-label">Name:</label>
                    <input asp-for="@Model.Name" type="text" id="name" name="name" class="form-control" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="@Model.Description" class="form-label">Description:</label>
                    <input asp-for="@Model.Description" type="text" id="description" name="description" class="form-control" />
                    <span asp-validation-for="@Model.Description" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group my-3">
                @{
                    var partialModel = SaveCancelViewModel.Create(Model.Id, "/equipments");
                }
                <partial name="_SaveCancelButtons" model="partialModel" />
            </div>
        </div>
    </form>

</div>