@using Domain.Clients;
@using Web.Models;

@model CreateClient

@{
    ViewData["Title"]="Create Client";
}

<h1 class="display-4">Create Client</h1>
<hr/>
<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group my-3">
                    <label asp-for="@Model.FirstName" class="form-label">First Name:</label>
                    <input asp-for="@Model.FirstName" type="text" id="firstName" name="firstName" class="form-control" />
                    <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="@Model.LastName" class="form-label">Last Name:</label>
                    <input asp-for="@Model.LastName" type="text" id="lastName" name="lastName" class="form-control" />
                    <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="@Model.Email" class="form-label">Email:</label>
                    <input asp-for="@Model.Email" type="email" id="email" name="email" class="form-control" aria-describedby="emailHelp" />
                    <div id="emailHelp" class="form-text">This information will not be shared with anyone else.</div>
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="@Model.PhoneNumber" class="form-label">Phone Number:</label>
                    <input asp-for="@Model.PhoneNumber" type="tel" id="phoneNumber" name="phoneNumber" class="form-control" aria-describedby="phoneNumberHelp" />
                    <div id="phoneNumberHelp" class="form-text">This information will not be shared with anyone else.</div>
                    <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group my-3">
                    <label asp-for="@Model.BirthDate" class="form-label">Birth Date:</label>
                    <input asp-for="@Model.BirthDate" type="date" id="birthDate" name="birthDate" class="form-control" />
                    <span asp-validation-for="@Model.BirthDate" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="@Model.Height" class="form-label">Height:</label>
                    <input asp-for="@Model.Height" type="tel" id="height" name="height" class="form-control" />
                    <span asp-validation-for="@Model.Height" class="text-danger"></span>
                </div>
                <div class="form-group my-3">
                    <label asp-for="@Model.Weight" class="form-label">Weight:</label>
                    <input asp-for="@Model.Weight" type="tel" id="weight" name="weight" class="form-control" />
                    <span asp-validation-for="@Model.Weight" class="text-danger"></span>
                </div>

            </div>

            <div class="form-group my-3">
                @{
                    var partialModel = SaveCancelViewModel.Create(0, "/clients");
                }
                <partial name="_SaveCancelButtons" model="partialModel" />
            </div>
        </div>
    </form>

</div>